# 04. Data Exploration of the NBA PosgreSQL database (collected over API)

Use DBeaver to generate ER diagram for the NBA PosgreSQL database:

<div>
    <img src="figures/2.1 ER diagram.png" alt="Fig. 4.1. The nba PostgreSQL ER diagram." style="display: block; margin: 0 auto;">
    <p style="text-align: center;">Fig. 4.1. The nba PostgreSQL ER diagram.</p>
</div>

As we can see from the ER diagram:

- 4 tables;
- the tables have between 5 and 23 columns;
- the columns have TEXT, NUMERIC, INTEGER, TIMESTAMP types;
- no views;
- relationships between tables on ER diargam.

Import libraries, import auxilliary functions, set pandas, and set logger:

In [1]:
# Import the standard libraries.
import os

# Import the third party libraries.
from dotenv import load_dotenv
import psycopg

# Import the local/project packages, modules, and fucntions.
from utils.data_exploration_p2 import (
    get_db_info,
    plot_mpl_bars,
    print_db_info,
    create_reports
)
# Set environment.
load_dotenv()

True

Establish a connection to our database and create a cursor.

In [2]:
# Connect to the PostgreSQL DB.
conn = psycopg.connect(
    dbname="nba",
    user=os.environ.get("user"),
    password=os.environ.get("password"),
    host=os.environ.get("host"),
    port=os.environ.get("port")
)
# Create a cursor object.
cur = conn.cursor()

Return a dictionary of list for every table in DB and a number a rows for every table:

In [3]:
db_info, num_rows = get_db_info(cur)

2023-08-15 16:45:52,696 | utils.data_exploration_p2 | INFO | The list of dictionaries db_info has been created.

The num_rows is a DataFrame that have "Table Name" and "A num of rows columns". Let's visualize it ([see Python code](utils/data_exploration_p2.py)):

In [4]:
print(num_rows)

  Table Name  A num of rows
0      teams             45
1      games          62939
2    players           4979
3      stats        1038274

In [5]:
plot_mpl_bars(num_rows)

<div>
    <img src="figures/4.2 A num of rows in tables.png" alt="Fig. 4.2. A num of rows in tables." style="display: block; margin: 0 auto;">
    <p style="text-align: center;">Fig. 4.2. A num of rows in tables.</p>
</div>

As we can see there is the play_by_play table that has significantly more rows than other tables. The play_by_play table has more than 1 million rows. Using functions like pandas.describe() or ydata-profiling with this table can take several hours on an average computer.

Print a list of table names and main data about columns ([see Python code](utils/data_exploration_p2.py)):

In [6]:
print_db_info(db_info)

Table name: teams
Table columns:
      Column Name     Type IS_NULLABLE DFLT_VALUE
ID
1             id  integer          NO        None
2   abbreviation     text         YES        None
3           city     text         YES        None
4     conference     text         YES        None
5       division     text         YES        None
6      full_name     text         YES        None
7           name     text         YES        None

Table name: games
Table columns:
            Column Name                         Type IS_NULLABLE DFLT_VALUE
ID
1                   id                      integer          NO        None
2                 date  timestamp without time zone         YES        None
3         home_team_id                      integer         YES        None
4      home_team_score                      integer         YES        None
5               season                      integer         YES        None
6      visitor_team_id                      integer         YES        None
7   visitor_team_score                      integer         YES        None

Table name: players
Table columns:
    Column Name     Type IS_NULLABLE DFLT_VALUE
ID
1           id  integer          NO        None
5      team_id  integer         YES        None
2   first_name     text         YES        None
3    last_name     text         YES        None
4     position     text         YES        None

Table name: stats
Table columns:
    Column Name     Type IS_NULLABLE DFLT_VALUE
ID
23    turnover  integer         YES        None
2      game_id  integer         YES        None
3      team_id  integer         YES        None
4    player_id  integer         YES        None
5          ast  integer         YES        None
6          blk  integer         YES        None
7         dreb  integer         YES        None
8      fg3_pct  numeric         YES        None
9         fg3a  integer         YES        None
10        fg3m  integer         YES        None
11      fg_pct  numeric         YES        None
12         fga  integer         YES        None
13         fgm  integer         YES        None
14      ft_pct  numeric         YES        None
15         fta  integer         YES        None
16         ftm  integer         YES        None
1           id  integer          NO        None
18        oreb  integer         YES        None
19          pf  integer         YES        None
20         pts  integer         YES        None
21         reb  integer         YES        None
22         stl  integer         YES        None
17         min     text         YES        None

Generate a report for each table using the ydata-profiling library. We will pass a list of "excluded" tables to the create_reports function, which can be found [here](utils/data_exploration_p2.py). It means a list of "big" tables that are similar to the play_by_play table. For these 'excluded' tables, we will randomly select 100,000 rows (by default) for initial exploration. The reports are saved in the reports directory and outputted to widgets in Jupyter Lab notebook.  It is a more comfortabe way to explore the reports in a browser.

In [7]:
create_reports(db_info, conn, excluded_tables=[])

2023-08-15 16:45:55,152 | utils.data_exploration_p2 | INFO | Generating the profile report for table teams...

/Users/lex/Sync/AI/My_projects/NBA/utils/data_exploration_p2.py:145: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(

Summarize dataset:   0%|          | 0/5 [00:00<?, ?it/s]

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render widgets:   0%|          | 0/1 [00:00<?, ?it/s]

VBox(children=(Tab(children=(Tab(children=(GridBox(children=(VBox(children=(GridspecLayout(children=(HTML(valu…

Render HTML:   0%|          | 0/1 [00:00<?, ?it/s]

Export report to file:   0%|          | 0/1 [00:00<?, ?it/s]

/Users/lex/Sync/AI/My_projects/NBA/utils/data_exploration_p2.py:145: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(

2023-08-15 16:46:00,348 | utils.data_exploration_p2 | INFO | Generating the profile report for table games...

Summarize dataset:   0%|          | 0/5 [00:00<?, ?it/s]

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render widgets:   0%|          | 0/1 [00:00<?, ?it/s]

Export report to file:   0%|          | 0/1 [00:00<?, ?it/s]

2023-08-15 16:46:02,435 | utils.data_exploration_p2 | INFO | Generating the profile report for table players...

/Users/lex/Sync/AI/My_projects/NBA/utils/data_exploration_p2.py:145: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(

Summarize dataset:   0%|          | 0/5 [00:00<?, ?it/s]

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render widgets:   0%|          | 0/1 [00:00<?, ?it/s]

Export report to file:   0%|          | 0/1 [00:00<?, ?it/s]

/Users/lex/Sync/AI/My_projects/NBA/utils/data_exploration_p2.py:145: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(

2023-08-15 16:46:11,403 | utils.data_exploration_p2 | INFO | Generating the profile report for table stats...

Summarize dataset:   0%|          | 0/5 [00:00<?, ?it/s]

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render widgets:   0%|          | 0/1 [00:00<?, ?it/s]

VBox(children=(Tab(children=(Tab(children=(GridBox(children=(VBox(children=(GridspecLayout(children=(HTML(valu…

Render HTML:   0%|          | 0/1 [00:00<?, ?it/s]

Export report to file:   0%|          | 0/1 [00:00<?, ?it/s]

2023-08-15 16:46:20,186 | utils.data_exploration_p2 | INFO | The profile reports have been generated.
The following tables have been excluded (several million lines take a few hours to create the report):
[]
The empty dataframes for tables:
[]